{% if type_view == "players" or type_view == "results" %}
<div class="category-navbar-cointainer">
  <nav class="navbar navbar-expand-sm category-navbar glass-effect">
    <div class="container-sm">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          {% if type_view == "results" %}
          <a class="nav-link" href="/football/results">
            <i class="fa-solid fa-futbol category-icon"></i>Football
          </a>
          {% elif type_view == "players" %}
          <a class="nav-link" href="/football/players">
            <i class="fa-solid fa-futbol category-icon"></i>Football
          </a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if type_view == "results" %}
          <a class="nav-link" href="/hockey/results">
            <i class="fa-solid fa-hockey-puck category-icon"></i>Ice Hockey
          </a>
          {% elif type_view == "players" %}
          <a class="nav-link" href="/hockey/players">
            <i class="fa-solid fa-hockey-puck category-icon"></i>Ice Hockey
          </a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if type_view == "results" %}
          <a class="nav-link" href="/basketball/results">
            <i class="fa-solid fa-basketball category-icon"></i>Basketball
          </a>
          {% elif type_view == "players" %}
          <a class="nav-link" href="/basketball/players">
            <i class="fa-solid fa-basketball category-icon"></i>Basketball
          </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endif %}