{% extends 'main.html' %}
{% include 'category_navbar.html' %}

{% block title %}
Edit Player
{% endblock %}

{% block content %}
<div class="container-lg main-container " style="display: flex; justify-content: center;align-items: center;">
    <div class="glass-effect form-container">
        <div class="col">
            <h1 class="page-title">Edit Player</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="row">
                        <input type="text" class="form-control" placeholder="Name" value = "{{player.player.name}}" style="max-width: 50%; margin: auto" name="name" >
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <input type="text" class="form-control" placeholder="Surname" value = "{{player.player.surname}}" style="max-width: 50%; margin: auto" name="surname" >
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label class="page-title form-label">Birthday</label>
                        <input type="date" class="form-control" placeholder="" value = "{{player.player.birthdate|date:'Y-m-d'}}" style="max-width: 50%; margin: auto" name="birthdaydate" >
                    </div>
                </div>
                <p class="page-title">Transfer history</p>
                {% for history in player.history %}
                    <div class="mb-3">
                        <div class="row">
                            <select class="form-select form-select-sm" name="league" style="max-width: 30%; margin: auto; margin-bottom: 10px;" aria-label=".form-select-sm example">
                                {% for team in teams %}
                                <option value="{{ team.id }}" {% if team.id == history.id_team.id %}selected{% endif %}>{{ team.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <input type="date" class="form-control" value="{{history.start_date|date:'Y-m-d'}}"  style="max-width: 25%; margin-left: auto" name="transferdate" >
                            <i class="bi bi-arrow-right" style="align-self: center;max-width: 42px;"></i>
                            <input type="date" class="form-control" value="{{history.end_date|date:'Y-m-d'}}"  style="max-width: 25%; margin-right: auto" name="transferdate" >
                        </div>
                    </div>
                {% endfor %}
                <div class="mb-3">
                    <div class="row">
                        <p class="page-title">
                            New Transfer
                        </p>
                    </div>
                    <div class="row">
                        <select class="form-select form-select-sm" name="league" style="max-width: 30%; margin: auto; margin-bottom: 10px;" aria-label=".form-select-sm example">
                            <option value="-1"></option>
                            {% for team in teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <input type="date" class="form-control" value="{{history.start_date|date:'Y-m-d'}}"  style="max-width: 25%; margin-left: auto" name="transferdate" >
                        <i class="bi bi-arrow-right" style="align-self: center;max-width: 42px;"></i>
                        <input type="date" class="form-control" value="{{history.end_date|date:'Y-m-d'}}"  style="max-width: 25%; margin-right: auto" name="transferdate" >
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" name="form1"type="submit">
                            Edit
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}