{% extends 'main.html' %}

{% block title %}
Players Page
{% endblock %}
{% block content %}
<div class="container-lg glass-effect main-container">
    <h1 class="page-title">
        <strong>{{title}}</strong>
    </h1>
    <div class="container text-start">
        <div class="row align-items-start">
            <div class="col">
                <div class="league-div glass-effect">
                    <h3 class="page-title">Leagues</h3>
                    <ul class="list-group">
                        {% for league in leagues %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% if league.id_category.name == "Football" %}
                                <a href="{% url 'football_league_players' league.id %}">{{ league.name }}</a>
                            {% elif league.id_category.name == "Basketball" %}
                                <a href="{% url 'basketball_league_players' league.id %}">{{ league.name }}</a>
                            {% elif league.id_category.name == "Ice Hockey" %}
                                <a href="{% url 'hockey_league_players' league.id %}">{{ league.name }}</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col">
                {% if teams|length > 0 %}
                <div class="league-div glass-effect">
                    <h3 class="page-title">Teams</h3>
                    <ul class="list-group">
                        {% for team in teams %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% if team.id_category.name == "Football" %}
                            <a href="{% url 'football_team_players' team.id_league.id team.id %}">
                                {{ team.name }}
                            </a>
                            {% elif team.id_category.name == "Basketball" %}
                            <a href="{% url 'basketball_team_players' team.id_league.id team.id %}">
                                {{ team.name }}
                            </a>
                            {% elif team.id_category.name == "Ice Hockey" %}
                            <a href="{% url 'hockey_team_players' team.id_league.id team.id %}">
                                {{ team.name }}
                            </a>
                            {% endif %}
                        </li>
                        {% empty %}
                        <li class="list-group-item">Please select a league to view teams.</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col">
                {% if players|length > 0 %}
                <div class="league-div glass-effect">
                    <h3 class="page-title">Players</h3>
                    <ul class="list-group">
                        {% for player in players %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% if player.history.id_team.id_category.name == "Football" %}
                            <a href="{% url 'football_player_players' player.history.id_team.id_league.id player.history.id_team.id player.player.id %}">
                                {{ player.player.name }} {{ player.player.surname }}
                            </a>
                            {% elif player.history.id_team.id_category.name == "Basketball" %}
                            <a href="{% url 'basketball_player_players' player.history.id_team.id_league.id player.history.id_team.id player.player.id %}">
                                {{ player.player.name }} {{ player.player.surname }}
                            </a>
                            {% elif player.history.id_team.id_category.name == "Ice Hockey" %}
                            <a href="{% url 'hockey_player_players' player.history.id_team.id_league.id player.history.id_team.id player.player.id %}">
                                {{ player.player.name }} {{ player.player.surname }}
                            </a>
                            {% endif %}
                        </li>
                        {% empty %}
                        <li class="list-group-item">Please select a team to view players.</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col">
                {% if player_info %}
                    <div class="league-div glass-effect">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h2>{{ player_info.player.name }} {{ player_info.player.surname }}</h2>
                                {% for history in player_info.history %}
                                    <strong>Team:</strong> {{ history.id_team.name }}<br>
                                    <strong>Since:</strong> {{ history.start_date }}<br>
                                    {% if history.end_date %}
                                    <strong>Until:</strong> {{ history.end_date }}<br>
                                    {% endif %}
                                {% endfor %}

                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}