{% extends 'main.html' %}
{% block title %} Registrace {% endblock %}

{% block content %}
<div class="container-lg outside-container">
    <div class="glass-effect form-container">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="First name" name="{{ form.first_name.name }}">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Last name" name="{{ form.last_name.name }}">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Username" name="{{ form.username.name }}">
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email" name="{{ form.email.name }}">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password" name="{{ form.password1.name }}">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Repeat your Password" name="{{ form.password2.name }}">
            </div>
            
            <div class="page-title">
                <button type="submit" class="btn submit-button">Submit</button>
            </div>
        <p class="page-title">Already in? Log in <a href="/login">here</a></p>

        </form>
    </div>
</div>
{% endblock %}