html, body {
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.navbar-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
}
.category-navbar-cointainer{
    display: flex;
    justify-content: center;
}

.glass-effect{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.main-navbar{
    width: 90%;
}



.navbar-logo{
    border-radius: 10px;
    margin-right: 5px;
}



.user-button{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.submit-button{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.container-lg.main-container{
    width: 90%;
    justify-content: center;
    padding: 10px;
    margin-top: 5px;
}



.category-icon{
    margin-right: 5px;
}

.page-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.league-div{
    padding: 5px;
}

.list-group-item a {
    text-decoration: none;
    color: inherit; /* or any color you want */
}

.list-group-item {
    background: none; /* or transparent */
    border: none;
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
}

.match-date {
    flex: 1;
}

.match-teams {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.match-result {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.nav-item{

    border-radius: 10px;
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: all 0.1s ease;
}
.dropdown-menu {
    z-index: 1000;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.container-lg.outside-container{
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
